{% extends 'master' %}

{% block content %}

<div class="col-md-12 col-md-offset-0">

        {{form.open({route:'driver.create'})}}
            {{form.button('Create','',{class:'btn btn-success'})}}
        {{form.close()}}

        <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Create Date</th>
		        <th>Update Date</th>
		        <th>SIM</th>
					  <th>status</th>
          </tr>
        <thead/>
        <tbody>
        {% for driver in drivers%}
          <tr>
            <td>{{driver.Name}}</td>
            <td>{{driver.created_at }}</td>
		        <td>{{ driver.updated_at }}</td>
		        <td>{{ driver.SIM}}</td>
		        <td>{{ driver.status }}</td>
            <th><a href="driver/{{drivers.id}}">View</a></th>
          <tr>
          {%endfor%}
          </tbody>

{% endblock %}
