<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Ojek Antar Kampus | Home</title>

  <meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">

<!-- Styles -->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="animate.css">
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="/assets/js/modernizr-2.7.1.js"></script>
</head>

<body>
 <header>
        <div class="row header-info">
          <div class="col-sm-10 col-sm-offset-1 text-center">
            <h1 class="wow fadeIn">Ojek Antar Kampus</h1>
            <br />
            <p class="lead wow fadeIn" data-wow-delay="0.5s"> transportasi cepat dan bersahabat bagi mahasiswa antar kampus</p>
            <br />

            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="row">
                  <div class="col-xs-6 text-right wow fadeInUp" data-wow-delay="1s">
                    <a href="#masuk" class="btn btn-secondary btn-lg scroll">MASUK</a>
                  </div>
                  <div class="col-xs-6 text-left wow fadeInUp" data-wow-delay="1.4s">
                    <a href="#pendaftaran" class="btn btn-primary btn-lg scroll">DAFTAR</a>
                  </div>
                </div><!--End Button Row-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>
    <!--Pendaftaran-->
    <section id="pendaftaran" class="pad-lg light-gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <i class="fa fa-envelope-o margin-40"></i>
            <h2 class="black">Form Pendaftaran</h2>
            <br />
            <p class="black">Dapatkan seluruh kemudahan yang kami sediakan.</p>
            <br />

            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <form role="form">
                  <div class="form-group">
                    <input type="name" class="form-control" id="nama" placeholder="Masukkan nama Anda disini">
                    <input type="userName" class="form-control" id="userName" placeholder="Masukkan id Anda" maxlength="7" >
                    <input type="noKTP" class="form-control" id="noKTP" placeholder="Masukkan No KTP Anda" maxlength="15" >
                    <input type="email" class="form-control" id="email" placeholder="Masukkan email Anda disini">
                    <input type="password" class="form-control" id="password" maxlength="10" placeholder="Buatlah password sebanyak 6 karakter">
                    <input type="tel" class="form-control" id="no_HP" placeholder="Masukkan no hp Anda" maxlength="15" >
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg">Daftar</button>
                </form>
              </div>
            </div><!--End Form row-->

          </div>
        </div>
      </div>
    </section>

    <!--Masuk-->
    <section id="masuk" class="pad-lg light-gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <i class="fa fa-envelope-o margin-40"></i>
            <h2 class="black">Masuk</h2>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <form role="form">
                  <div class="form-group">
                    <input type="name" class="form-control" id="email" placeholder="Masukkan email Anda disini">
                    <input type="password" class="form-control" id="password" minlength="6" maxlength="6" placeholder="Masukkan password Anda">

                  </div>
                   <a id=btnMasuk href="member" class="btn btn-primary btn-lg scroll">MASUK</a>
                </form>
              </div>
            </div><!--End Form row-->

          </div>
        </div>
      </div>
    </section>


    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/listener.js"></script>


</body>
</html>
