{% extends 'master' %}

{% block content %}
<head>
<title>TABEL ADMIN</title>
</head>
<BR>
	<BR>
	<div class="col-md-8 col-md-offset-2">
	</br>
</br>
		<table>
			<tr>
				<td style="padding-right: 10px;">
    				{{ form.open({ route: 'adminIUD.edit', params: {id: admin.id} }) }}
    					{{ form.button('Update','', { class: 'btn btn-success '}) }}
    				{{ form.close() }}

    			</td>

    			<td style="padding-right: 20px;">
    				{{ form.open({ route: 'adminIUD.destroy', params: {id: admin.id} }) }}
    					{{csrfField}}
    					{{ form.button('Delete','', { class: 'btn btn-danger '}) }}

    				{{ form.close() }}

    		</tr>
		</table>
		<br>
		<br>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th class="col-md-2">id</td>
					<td class="col-md-6">{{ admin.id }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Create Date</th>
					<td class="col-md-6">{{ admin.created_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Update Date</th>
					<td class="col-md-6">{{ admin.updated_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Nama Admin</th>
					<td class="col-md-6">{{ admin.name }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Number</th>
					<td class="col-md-6">{{ admin.number }}</td>
				</tr>



			</tbody>
		</table>
	</div>

{% endblock %}
