{% extends 'master' %}

{% block content %}
<head>
<title>TABEL operator</title>
</head>
<div class="col-md-12 col-md-offset-0">
  <h3><b>TABEL OPERATOR</b></h3>
  </br>
  </br>


        {{form.open({route:'operatorIUD.create'})}}
            {{form.button('Create','',{class:'btn btn-primary'})}}
        {{form.close()}}

        <table class="table table-striped">
        <thead>
          <tr>

            <th>Create Date</th>
		        <th>Update Date</th>

					  <th>id</th>
          </tr>
        <thead/>
        <tbody>

        {% for operator in operators %}
          <tr>

            <td>{{operator.created_at }}</td>
		        <td>{{ operator.updated_at }}</td>
		      
		        <td>{{ operator.id }}</td>
            <th><a href="operatorIUD/{{operator.id}}">View</a></th>
          <tr>
          {%endfor%}
          </tbody>

{% endblock %}
