{% extends 'master' %}

{% block content %}
<head>
<title>TABEL MEMBER</title>
</head>
<BR>
	<BR>
	<div class="col-md-8 col-md-offset-2">
		<table>
			<tr>
				<td style="padding-right: 10px;">
    				{{ form.open({ route: 'memberIUD.edit', params: {id: member.id} }) }}
    					{{ form.button('Update','', { class: 'btn btn-primary'}) }}
    				{{ form.close() }}

    			</td>

    			<td style="padding-right: 20px;">
    				{{ form.open({ route: 'memberIUD.destroy', params: {id: member.id} }) }}
    					{{csrfField}}
    					{{ form.button('Delete','', { class: 'btn btn-danger '}) }}

    				{{ form.close() }}

    			</td>

    		</tr>
		</table>
		<br>
		<br>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th class="col-md-2">id</td>
					<td class="col-md-6">{{ member.id }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Create Date</th>
					<td class="col-md-6">{{ member.created_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Update Date</th>
					<td class="col-md-6">{{ member.updated_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Name</th>
					<td class="col-md-6">{{ member.name }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Number</th>
					<td class="col-md-6">{{ member.number }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Number</th>
					<td class="col-md-6">{{ member.KTP }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Number</th>
					<td class="col-md-6">{{ member.email }}</td>
				</tr>



			</tbody>
		</table>
	</div>

{% endblock %}
