{% extends 'master' %}

{% block content %}
<head>
<title>TABEL DRIVER</title>
</head>
	<div class="col-md-8 col-md-offset-2">
		<div class="col-md-offset-2">
		{% if successMessage %}
			<div class="alert alert-success alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Success!</strong> {{successMessage}}.
			</div>

		{% endif %}
		{% if old('errors') %}
			<div class="alert alert-danger alert-dismissable">
				{% for error in old('errors') %}
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<li> {{ error.message }} </li>
				{% endfor %}
			</div>

		{% endif %}
		</div>
	</br>
</br>
<h3>Input new driver</h3>
</br>

		<div class="form-horizontal">
		{{ form.open({route: 'driverIUD.store'}) }}

			{{csrfField}}

			<div class="form-group">
				{{ form.label('name','Nama Driver',{ class: 'col-sm-2 control-label'}) }}
    			<div class="col-sm-6">
      				{{ form.text('name','',{ class: 'form-control'})}}
    			</div>
    		</div>

				<div class="form-group">
					{{ form.label('userName','User Name',{ class: 'col-sm-2 control-label'}) }}
						<div class="col-sm-6">
								{{ form.text('userName','',{ class: 'form-control'})}}
						</div>
					</div>

					<div class="form-group">
						{{ form.label('password','password',{ class: 'col-sm-2 control-label'}) }}
							<div class="col-sm-6">
									{{ form.password('password','',{ class: 'form-control'})}}
							</div>
						</div>

				<div class="form-group">
					{{ form.label('number','No Telp',{ class: 'col-sm-2 control-label'}) }}
	    			<div class="col-sm-6">
	      				{{ form.text('number','',{ class: 'form-control'})}}
	    			</div>
	    		</div>

    		<div class="form-group">
				{{ form.label('SIM','SIM',{ class: 'col-sm-2 control-label'}) }}
    			<div class="col-sm-6">
      				{{ form.text('SIM','',{ class: 'form-control'})}}
    			</div>
    		</div>


				    		<div class="form-group">
								{{ form.label('licensePlate','license Plate',{ class: 'col-sm-2 control-label'}) }}
				    			<div class="col-sm-6">
				      				{{ form.text('licensePlate','',{ class: 'form-control'})}}
				    			</div>
				    		</div>

								<div class="form-group">
								{{ form.label('color','warna motor',{ class: 'col-sm-2 control-label'}) }}
				    			<div class="col-sm-6">
				      				{{ form.text('color','',{ class: 'form-control'})}}
				    			</div>
				    		</div>

								<div class="form-group">
								{{ form.label('type','type',{ class: 'col-sm-2 control-label'}) }}
				    			<div class="col-sm-6">
				      				{{ form.text('type','',{ class: 'form-control'})}}
				    			</div>
				    		</div>


    		<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
    				{{ form.submit('Create','submit', { class: ' btn btn-primary'}) }}
    			</div>
    		</div>
    	{{ form.close() }}



		</div>
	</div>

{% endblock %}
