{% extends 'master' %}

{% block content %}
<title>TABEL DRIVER</title>
</br>
	<div class="col-md-8 col-md-offset-2">
		<div class="col-md-offset-2">
		{% if successMessage %}
			<div class="alert alert-success alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Success!</strong> {{successMessage}}.
			</div>
		{% endif %}
		{% if old('errors') %}
			<div class="alert alert-danger alert-dismissable">
				{% for error in old('errors') %}
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<li> {{ error.message }} </li>
				{% endfor %}
			</div>

		{% endif %}
		</div>
	</br>
</br>

		<div class="form-horizontal">
		{{ form.open({ route: 'driverIUD.update', params: {id: driver.id} }) }}

			{{csrfField}}

			<div class="form-group">
				{{ form.label('name','driver Name',{ class: 'col-sm-2 control-label'}) }}
    			<div class="col-sm-6">
      				{{ form.text('name',driver.name,{ class: 'form-control'})}}
    			</div>
    		</div>

				<div class="form-group">
					{{ form.label('userName','User Name',{ class: 'col-sm-2 control-label'}) }}
						<div class="col-sm-6">
								{{ form.text('userName',user.userName,{ class: 'form-control'})}}
						</div>
					</div>

		
				<div class="form-group">
					{{ form.label('number','No Telp',{ class: 'col-sm-2 control-label'}) }}
	    			<div class="col-sm-6">
	      				{{ form.text('number',driver.name,{ class: 'form-control'})}}
	    			</div>
	    		</div>


    		<div class="form-group">
				{{ form.label('SIM','SIM',{ class: 'col-sm-2 control-label'}) }}
    			<div class="col-sm-6">
      				{{ form.text('SIM',driver.SIM,{ class: 'form-control'})}}
    			</div>
    		</div>

    		<div class="form-group">
				{{ form.label('status','status',{ class: 'col-sm-2 control-label'}) }}
    			<div class="col-sm-6">
      				{{ form.text('status',driver.status,{ class: 'form-control'})}}
    			</div>
    		</div>

				<div class="form-group">
				{{ form.label('licensePlate','licensePlate',{ class: 'col-sm-2 control-label'}) }}
					<div class="col-sm-6">
							{{ form.text('licensePlate',driver.status,{ class: 'form-control'})}}
					</div>
				</div>

				<div class="form-group">
				{{ form.label('color','color',{ class: 'col-sm-2 control-label'}) }}
					<div class="col-sm-6">
							{{ form.text('color',driver.status,{ class: 'form-control'})}}
					</div>
				</div>

				<div class="form-group">
				{{ form.label('type','type',{ class: 'col-sm-2 control-label'}) }}
					<div class="col-sm-6">
							{{ form.text('type',driver.status,{ class: 'form-control'})}}
					</div>
				</div>

				<div class="form-group">
				{{ form.label('color','color',{ class: 'col-sm-2 control-label'}) }}
					<div class="col-sm-6">
							{{ form.text('color',driver.status,{ class: 'form-control'})}}
					</div>
				</div>

    		<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
    				{{ form.submit('Update','submit', { class: ' btn btn-primary'}) }}
    			</div>
    		</div>
    	{{ form.close() }}
		</div>
	</div>

{% endblock %}
