{% extends 'master' %}

{% block content %}

	<div class="col-md-8 col-md-offset-2">
		<table>
			<tr>
				<td style="padding-right: 10px;">

    				{{ form.open({ route: 'driverIUD.edit', params: {id: drivers.id} }) }}
    					{{ form.button('Update','', { class: 'btn btn-success '}) }}
    				{{ form.close() }}

    			</td>
    			<td>
    				{{ form.open({ route: 'driverIUD.destroy', params: {id: drivers.id} }) }}
    					{{csrfField}}
    					{{ form.button('Delete','', { class: 'btn btn-danger '}) }}

    				{{ form.close() }}
    			</td>
    		</tr>
		</table>
		<br>
		<br>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th class="col-md-2">id</td>
					<td class="col-md-6">{{ drivers.id }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Create Date</th>
					<td class="col-md-6">{{ drivers.created_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Update Date</th>
					<td class="col-md-6">{{ drivers.updated_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Name</th>
					<td class="col-md-6">{{ drivers.name }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Status</th>
					<td class="col-md-6">{{ drivers.status }}</td>
				</tr>



			</tbody>
		</table>
	</div>

{% endblock %}
