{% extends 'master' %}

{% block content %}
<head>
<title>TABEL DRIVER</title>
</head>
<BR>
	<BR>
	<div class="col-md-8 col-md-offset-2">
	</br>
</br>
		<table>
			<tr>
				<td style="padding-right: 10px;">
    				{{ form.open({ route: 'driverIUD.edit', params: {id: driver.id} }) }}
    					{{ form.button('Update','', { class: 'btn btn-success '}) }}
    				{{ form.close() }}

    			</td>

    			<td style="padding-right: 20px;">
    				{{ form.open({ route: 'driverIUD.destroy', params: {id: driver.id} }) }}
    					{{csrfField}}
    					{{ form.button('Delete','', { class: 'btn btn-danger '}) }}

    				{{ form.close() }}

    			</td>
					<td style="padding-right: 30px;">
    				{{ form.open({ route: 'driverIUD.edit', params: {id: driver.id} }) }}
    					{{csrfField}}
    					{{ form.button('Edit','', { class: 'btn btn-success '}) }}

    				{{ form.close() }}
    			</td>
    		</tr>
		</table>
		<br>
		<br>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th class="col-md-2">id</td>
					<td class="col-md-6">{{ driver.id }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Create Date</th>
					<td class="col-md-6">{{ driver.created_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Update Date</th>
					<td class="col-md-6">{{ driver.updated_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Nama Driver</th>
					<td class="col-md-6">{{ driver.name }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Status</th>
					<td class="col-md-6">{{ driver.status }}</td>
				</tr>
        <tr>
					<th class="col-md-2">SIM</th>
					<td class="col-md-6">{{ driver.SIM }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Number</th>
					<td class="col-md-6">{{ driver.number}}</td>
				</tr>


			</tbody>
		</table>
	</div>

{% endblock %}
